## Packages and Data

Read in and clean the 'Housing Price Gap' Data

In [1]:
import pandas as pd # Needed for reading csv

In [12]:
raw_ratio = pd.read_csv('Data/House_Price_Wages_Ratio.csv', # Read in the csv
                        encoding = 'utf-8')
raw_ratio.columns

Index(['New Code', 'Old Code', 'Area', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [18]:
ratio_2019 = raw_ratio[['New Code','Area','2019']].dropna().rename(columns={'New Code': "Area_Code"})
ratio_2019

    Area_Code                      Area   2019
1   E09000001            City of London      :
2   E09000002      Barking and Dagenham  10.75
3   E09000003                    Barnet  14.19
4   E09000004                    Bexley   9.61
5   E09000005                     Brent  15.59
6   E09000006                   Bromley  10.73
7   E09000007                    Camden  18.27
8   E09000008                   Croydon  10.97
9   E09000009                    Ealing  14.79
10  E09000010                   Enfield  12.34
11  E09000011                 Greenwich  12.72
12  E09000012                   Hackney  16.04
13  E09000013    Hammersmith and Fulham  17.34
14  E09000014                  Haringey  14.40
15  E09000015                    Harrow  13.02
16  E09000016                  Havering  10.77
17  E09000017                Hillingdon  13.15
18  E09000018                  Hounslow  11.82
19  E09000019                 Islington  13.73
20  E09000020    Kensington and Chelsea  27.64
21  E09000021      Kingston upon Thames  12.71
22  E09000022                   Lambeth  14.40
23  E09000023                  Lewisham  12.74
24  E09000024                    Merton  12.40
25  E09000025                    Newham  12.98
26  E09000026                 Redbridge  12.02
27  E09000027      Richmond upon Thames  14.74
28  E09000028                 Southwark  14.31
29  E09000029                    Sutton  10.40
30  E09000030             Tower Hamlets  11.50
31  E09000031            Waltham Forest  12.66
32  E09000032                Wandsworth  14.38
33  E09000033               Westminster  21.60
35  E12000001                North East   5.21
36  E12000002                North West   5.79
37  E12000003  Yorkshire And The Humber   5.91
38  E12000004             East Midlands   6.74
39  E12000005             West Midlands   6.90
40  E12000006                      East   9.01
41  E12000007                    London  12.75
42  E12000008                South East   9.67
43  E12000009                South West   8.61
45  E92000001                   England   7.88

In [16]:
ratio_2019

     New Code                      Area   2019
1   E09000001            City of London      :
2   E09000002      Barking and Dagenham  10.75
3   E09000003                    Barnet  14.19
4   E09000004                    Bexley   9.61
5   E09000005                     Brent  15.59
6   E09000006                   Bromley  10.73
7   E09000007                    Camden  18.27
8   E09000008                   Croydon  10.97
9   E09000009                    Ealing  14.79
10  E09000010                   Enfield  12.34
11  E09000011                 Greenwich  12.72
12  E09000012                   Hackney  16.04
13  E09000013    Hammersmith and Fulham  17.34
14  E09000014                  Haringey  14.40
15  E09000015                    Harrow  13.02
16  E09000016                  Havering  10.77
17  E09000017                Hillingdon  13.15
18  E09000018                  Hounslow  11.82
19  E09000019                 Islington  13.73
20  E09000020    Kensington and Chelsea  27.64
21  E09000021      Kingston upon Thames  12.71
22  E09000022                   Lambeth  14.40
23  E09000023                  Lewisham  12.74
24  E09000024                    Merton  12.40
25  E09000025                    Newham  12.98
26  E09000026                 Redbridge  12.02
27  E09000027      Richmond upon Thames  14.74
28  E09000028                 Southwark  14.31
29  E09000029                    Sutton  10.40
30  E09000030             Tower Hamlets  11.50
31  E09000031            Waltham Forest  12.66
32  E09000032                Wandsworth  14.38
33  E09000033               Westminster  21.60
35  E12000001                North East   5.21
36  E12000002                North West   5.79
37  E12000003  Yorkshire And The Humber   5.91
38  E12000004             East Midlands   6.74
39  E12000005             West Midlands   6.90
40  E12000006                      East   9.01
41  E12000007                    London  12.75
42  E12000008                South East   9.67
43  E12000009                South West   8.61
45  E92000001                   England   7.88